*{
  //overflow-x: hidden; [Don't do this otherwise 
  //overflow-y: hidden;   mobile navbar won't work]
  transition: 300ms ease-out;
}
:root{
  background-color: #fffdf2;
  color: black;
  font-size: 10px;
    font-family: monospace;
}

.root
{
  --text-primary: black;
  --text-secondary: #323232;
  --bg-primary: #fffdf2;
  --bg-secondary: beige;
  font-family: monospace;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  top:0; left:0;
  height: 100vh; width: 100vw;
}

body {
  margin: 0; padding: 0;
  &::-webkit-scrollbar{
    width: 2rem;
  }
  &::-webkit-scrollbar-track{
    background-color: #191819;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #6649b8;
  }

  & a{
    color: var(--text-secondary);
    &:hover{
      color: darkslategrey;
    }
  }
}

