
.main-content{
    position: fixed;
    top: 4rem;
    display: block;
    #qc_logo{
        display: block;
        opacity: 1;

        height: 5vh;
        width: 5vw;
    }
    .description{
        
    }
}