*{
  margin: 0;
  padding: 0;
  transition: 300ms ease-out;
}
:root{
  color: black;
  font-size: 10px;
  font-family: monospace;
}

.root
{
  --text-primary: black;
  --text-secondary: #323232;
  --bg-primary: #fffdf2;
  --bg-secondary: beige;
  font-family: monospace;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  
}
