*{
  font-family: monospace;
}
.root
{
  --text-primary: black;
  --text-secondary: #323232;
  --bg-primary: #fffdf2;
  --bg-secondary: beige;
  font-family: monospace;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: 10px;
}

.main-content{
  margin: 0;
  display: flex;
  flex-direction: column;

  .form-card{
      margin-top: 7rem;
      color: var(--text-secondary);
      position: fixed;
      top: 0.01rem;
      left: 0.54rem;
      padding: 0.5rem;
      height: 50vh;
      .contact-form {
        border: 2px solid var(--text-secondary);
        max-width: 90rem;
        padding: 1rem;
        background: burlywood;
        border-radius: 1rem;
        height: 50vh;
        width: 95vw;
        display: flex;
        flex-direction: column;

        input, textarea {
          color: var(--text-primary);
          margin-bottom: 1rem;
          padding: 0.75rem;
          border: 2px solid var(--text-secondary);
          border-radius: 0.75rem;
          font-size: 1rem;

          &:hover{
            border: 2px solid cyan;
          }
        }
        textarea{
          height:25vh;
        }

    button {
      padding: 0.75rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
    .status-cardlet{
      font-style: italic;
    }
  }
}
  .info-card{
    position: fixed;
    bottom: 1rem; right: 1.754rem;
    margin-bottom: 0.75rem;
    padding: 1.75rem;

    height: 30vh; width: 75vw;
    font-size: 2vh;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

//Phone Screens
@media screen and (max-width:992px){
.main-content{
  top: 5rem;
  left: 0.5rem;
}
}

//Desktop Screens
@media screen and (min-width:992px){
.main-content{
  top:4rem;
}
}