
.main-content{
    width: 100vw;
    height: 100vh;
    padding: 2.5rem;
    position: fixed;
    top: 5rem; left: 0;

    .card{
        margin: 0.5rem; padding: 0.5rem;
        border: 0.25rem solid black;
        border-radius: 0.75rem;
    }
    #qc_logo{
        height: 45vh;
        width: 48vh;
    }
    .description{
        
    }
}